<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org">

	<head>
		<title>Todos Eventos</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	    <link rel="stylesheet" href="../static/style.css">
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body style="font-family: fantasy;">
		
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">QTaRolando?</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Cadastrar <span class="sr-only">(Página atual)</span></a>
                <a class="nav-item nav-link active" href="/listar-todos">Ver Eventos</a>
                <a class="nav-item nav-link" href="#">Deletar Evento</a>
              </div>
            </div>
          </nav>
		</header>
		
		<section>
			<div class="container" style="width: 60%; padding-bottom: 30px; padding-top: 20px;"	>
				<div>
					<ul class="list-group">
					  <li class="list-group-item">Teste</li>
					</ul>
				</div>
			</div>
		</section>
	
	</body>


</html>